@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*{
    user-select: none;
}

body{
    margin: 0px;
    padding: 0px;
    background: url('res/bg.gif');
    font-family: 'Rubik', sans-serif;
    color: white;
}

/* container */

#container{
    width: 70vw;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
} 

/* sections */

header, section{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* header */

header{
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

/* sections */

#sections{
    text-align: justify;
}

section{
    color: black;
    transition: 2s;
    line-height: 50px;
    display: inline-block;
    width: calc(49.6% - 20px);
    margin: 10px;
}

button{
    border: none;
    outline: none;
    background-color: rgba(0,0,0, 0.5);
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    font-family: 'Rubik', sans-serif;
}

button:active{
    transform: scale(0.91);
    transition: 0.2s;
}

h2{
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 2px #000,
    -1px -1px 2px #000;
    font-family: 'Bangers', cursive;
}
