@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;700&display=swap');

:root{
    --background: #16171D;
    --foreground: #F6F6F6;
    --gray: #5c6370;
    --yellow: #FFD945;
    --red: #FF3F4F;
    --blue: #00a0e4;
    --green: #81F900;
    --orange: #FF9700;
    --cyan: #6AEBF7;
    --purple: #c678dd;
}

*{
    font-family: "JetBrains Mono", monospace;
	font-size: 24px;
}

.border{
    border: 2px solid #F6F6F6;
}

body{
    margin: 0;
    padding: 0;
	background: var(--background);
	color: var(--foreground);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.foreground{
    color: #F6F6F6;
}

.background{
    background-color: #16171D;
}

/* Button Styling */

button, input{
	border: 2px solid var(--foreground);
	color: var(--foreground);
	background: transparent;
	padding: 8px;
	font-weight: bold;
	outline: none;
}

button, input[type='submit']{
	cursor: pointer;
}

button:hover, input:focus{
	color: var(--background);
	background: var(--foreground);
}

/* DARK GRAY */
.text-gray { color: #5c6370; }
.border-gray { border-color: #5c6370; }
.bg-gray { background: #5c6370; }

/* yellow */
.text-yellow { color: #FFD945; }
.border-yellow { border-color: #FFD945; }
.bg-yellow { background: #FFD945; }

/* red */
.text-red { color: #FF3F4F; }
.border-red { border-color: #FF3F4F; }
.bg-red { background: #FF3F4F; }

/* blue */
.text-blue { color: #00a0e4; }
.border-blue { border-color: #00a0e4; }
.bg-blue { background: #00a0e4; }

/* green */
.text-green { color: #81F900; }
.border-green { border-color: #81F900; }
.bg-green { background: #81F900; }

/* orange */
.text-orange { color: #FF9700; }
.border-orange { border-color: #FF9700; }
.bg-orange { background: #FF9700; }

/* cyan */
.text-cyan { color: #6AEBF7; }
.border-cyan { border-color: #6AEBF7; }
.bg-cyan { background: #6AEBF7; }

/* purple */
.text-purple { color: #c678dd; }
.border-purple { border-color: #c678dd; }
.bg-purple { background: #c678dd; }
